# Xcode
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# SwiftPM
.build/
.swiftpm/xcode/package.xcworkspace/

# CocoaPods
Pods/
Podfile.lock
project.xcworkspace

# Carthage
Carthage/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# Derived data & logs
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Package.resolved

# Env
.env
*.xcconfig

# Simulator devices
*.simstate

# IDE settings
.idea/
*.sw?

# Other
*.orig
